@font-face {
	font-family: constan;
	font-display: swap;
	src: url("../fonts/constan-bold.woff2") format("woff2"), url("../fonts/constan-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
